
body {
  margin: 0;
}

/* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}*/


.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #073c52ae;/* tô màu menu*/

    display: flex;
    align-items: center;
    padding: 10px 20px;
    z-index: 1000;

    box-shadow: /* tăng độ sáng thanh menu*/
        0 0 15px #00d4ff,
        0 0 30px #00d4ff,
        0 0 60px #00d4ff;
}




/* phần logo===================================================== */
.logo {
    display: flex;
    flex-direction: column; /* xếp dọc cho chữ " trang chủ" */
    align-items: center;/* căn giữa xếp dọc cho chữ " trang chủ" */
    text-decoration: none;/* xóa gạch chân thẻ liên kết <a> cho chữ " trang chủ" */
}

/* logo */
.logo img {
    width: 80px;/* lớn nhỏ của*/
    height: auto;

    filter: drop-shadow(0 0 10px #00d4ff);/* phát sáng logo*/
}

/* chữ dưới */
.logo-text {
    color: #ffffff;/* màu chữ trang chủ dưới logo*/
    font-size: 14px;/* cỡ chữ trang chủ logo*/
    margin-top: 5px;/*độ thấp chữ sov logo*/

    text-shadow: /* phát sáng chữ trang chủ*/
        0 0 5px #00d4ff,
        0 0 10px #00d4ff;
}
.logo{
    position: fixed;/* ghim cố định vô màn hình ko cuốn theo khi kéo trang*/
    top: 20px;
    left: 20px;

    z-index: 1000;/* nằm trên cùng*/
}


/* menu ========================================================*/
nav {
    margin-left: auto; /* đẩy menu sang phải */
}

.menu {
    list-style: none;/* Xóa bỏ các dấu chấm tròn*/
    display: flex !important; /* ép luôn cho chắc */
    gap: 20px;/*Tạo khoảng cách đều nhau 20px giữa các mục để chúng không dính sát vào nhau*/
}

.menu li a {
    color: white;/* màu chue cho menu*/
    text-decoration: none;/* xóa gạch chan*/
    transition: 0.4s;/* nhanh chậm khi tiếp xúc v út kiểu đổi màu khi chạm vô*/
}

.menu li a:hover {/* màu khi chạm vô*/
    color: #00d4ff;
    text-shadow: 
        0 0 5px #00d4ff,
        0 0 10px #00d4ff,
        0 0 20px #00d4ff;
}


/* phần background của trang chủ===========================*/
*{
    margin:0;/* xóa kc ngoai*/
    padding:0;/*x kc trong*/
    box-sizing:border-box;/* cố định kích thước này kia của videp nền*/
}

html{
    scroll-behavior:smooth;/* tạo cuộn mượt hơn*/
}

#bg-video{
    position:fixed;/* ghim cố định */
    top:0;
    left:0;

    width:100vw;/* ép kích thước chiều rộng 100*/
    height:100vh;/* ép kích thước chiều caao*/

    object-fit:cover;/* giữ nguyên tỷ lệ vidoe*/

    z-index:-2;
}

body::after{
    content:"";/* Bắt buộc phải có để kích hoạt phần tử ảo này hoạt động (để trống nội dung bên trong*/
    position:fixed;
    inset:0;/*Ghim cố định và kéo dãn lớp màng này phủ*/

    background:rgba(2, 2, 2, 0.618);

    z-index:-1;
}

.stars{
    position:fixed;/* Ghim cố định khung này trên màn hình khi cuộn trang */
    inset:0; /* Kéo dãn khung phủ kín cả 4 cạnh màn hình */

    width:100%;/* Chiều rộng bằng 100% màn hình */
    height:200%;/* Chiều cao gấp đôi màn hình (để chuẩn bị làm hiệu ứng cuộn hoặc trượt nền) */

    background:url("https://www.transparenttextures.com/patterns/stardust.png");/* Chèn ảnh các bong bóng lặp lại làm nền */

    z-index:0;
}

.stars1{/* Lớp bb: Sáng nhất, chuyển động nhanh nhất (nằm gần mắt người xem nhất) */
    animation:
        moveStars 50s linear infinite,/* Chạy hiệu ứng trượt "moveStars" trong 50 giây, tốc độ đều, lặp vô hạn */
        twinkle 2s infinite alternate;/* Chạy hiệu ứng nhấp nháy "twinkle" trong 2 giây, lặp vô hạn, đổi chiều liên tục */
}

.stars2{
    opacity:.5;/* Giảm độ sáng của lớp bb thứ hai xuống còn 50% để tạo độ xa */

    animation:
        moveStars 100s linear infinite,/* Hiệu ứng trượt chậm hơn (100 giây), tốc độ đều, lặp vô hạn */
        twinkle 3s infinite alternate;/* Hiệu ứng nhấp nháy chậm hơn (3 giây), lặp vô hạn, đổi chiều liên tục */
}

.stars3{
    opacity:.3;/* Giảm độ sáng của lớp sao thứ ba xuống còn 30% để tạo cảm giác rất xa */

    animation:
        moveStars 150s linear infinite,
        twinkle 4s infinite alternate;
}

@keyframes moveStars{
    from{
        transform:translateY(0);/* Trạng thái bắt đầu: Các bb ở vị trí mặc định */
    }

    to{
        transform:translateY(-2000px);/* Trạng thái kết thúc: Đẩy toàn bộ lớp bb trượt thẳng lên trên 2000px */
    }
}

@keyframes twinkle{
    from{
        opacity:.3;
    }  /* Trạng thái bắt đầu: Các ngôi sao hơi mờ đi (độ sáng 30%) */

    to{
        opacity:1;
    }
}
.footer{
    background: rgba(0,0,0,0.8);
    color: rgb(224, 207, 207);
    padding: 30px;
    margin-top: 50px;

    display: flex;/* Kích hoạt chế độ Flexbox để dàn trang các khối con */
    justify-content: space-around;/* Căn đều các khối con, tạo khoảng trống xung quanh chúng */
    flex-wrap: wrap;/*Tự động xuống dòng các khối con nếu màn hình bị thu nhỏ (responsive) */
    position: relative;
    z-index: 9999;
}
.footer{
    width: 100%;
    background: rgba(0,0,0,0.75);

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    padding: 50px 30px;/* kc trong*/
    margin-top: 80px;/*kc ngoài*/

    border-top: 3px solid rgb(10, 208, 239);/*Tạo một đường viền dày 3px màu xanh neon chổ phàn địa chri email */
    
}

.footer-box{
    width: 450px;/* dộ dài khung nè đen đen chổ phần địa chỉ*/
    color: white;/* màu chữ bên trong của pphaanf địa chỉ này kia trường */
}

.footer-box h2{
    color: rgb(255, 255, 255);
    margin-bottom: 25px;
    text-shadow: 0 0 10px rgb(0, 157, 255); /* Tạo hiệu ứng chữ phát sáng màu xanh neon rộng 10px */

}

.footer-box p{
    margin: 18px 0;/* khoảng cách dòng của emial*/
    font-size: 18px;
}

.footer-box a{
    color: #00bdde;/* chữ bên phần liên kết */
    text-decoration: none;
    transition: .3s;
}

.footer-box a:hover{
    color: white;/* màu khi nhấn vo*/
    text-shadow: 0 0 10px cyan;
    padding-left: 8px;
}
/* phần nọi dung trang chủ======================================*/
.content,
.section{
    height:100vh;/* căn cho đẹp chữ*/

    display:flex;
    justify-content:center;
    align-items:center;/* CĂN GIỮA*/
    flex-direction:column;/* xếp doc*/

    text-align:center;

    color:rgb(247, 243, 243);/* là chữ công nghệ xanh đại d sạch*/
    text-shadow: 
        0 0 10px #00d4ff,
        0 0 20px #00d4ff,
        0 0 40px #00d4ff,
        0 0 80px #00d4ff;
    font-family:Arial,sans-serif;
    position:relative;
    z-index:1;
}
.content h1 {/* CHỮ TO CHỦ ĐỀ*/
    color: #fdffff;

    text-shadow: 
        0 0 10px #00d4ff,
        0 0 20px #00d4ff,
        0 0 40px #00d4ff,
        0 0 80px #00d4ff;
    font-family:'Poppins', sans-serif;
    font-size: 40px;
    font-size: 3rem;
    margin-bottom: 50px
}

/* phần trang giới thiệu==========================================*/
.gioithieu p {
    max-width: 800px;        /* giới hạn chiều ngang */
    margin: 0 auto;          /* căn giữa */
    text-align: justify;     /* căn đều 2 bên */
    line-height: 1.8;        /* giãn dòng cho dễ đọc */
    font-size: 18px;
    color: white;
}
.gioithieu {
    padding: 100px 20px;
    background: #082c748b;
    text-align: center;
}

.gioithieu h2 {
    color: #efefef;/* CHŨ GIỚI THIỆU*/
    font-size: 40px;

    text-shadow: 
        0 0 10px #00d4ff,
        0 0 20px #00d4ff,
        0 0 40px #00d4ff;
        z-index: 1000;
}
html {
    scroll-behavior: smooth;
}


/* phần trang sự kiện==========================================*/

body{/* toan bộ chữ trong trang này*/
    background:linear-gradient(135deg,#001d3d,#0077b6);
    color:rgb(255, 255, 255);
}

header{
    text-align:center;/* căn giữ tất cả */
     padding: 100px;
     margin:0;
    text-shadow:/* cho chữ chủ để phát sáng*/
        0 0 10px #00d4ff,
        0 0 20px #00d4ff,
        0 0 40px #00d4ff;
    z-index: 1000;
}
/*Responsive chuẩn====================================================================================*/
.container{/* ảnh hưởng đến khung của các sụ kiện*/
    width:95%;
    margin:auto;
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(280px,1fr));/* Tự động tính số cột dựa trên màn hình: mỗi cột rộng ít nhất 280px và tự co giãn đều nhau */
    gap:20px;
}

.card{/* màu khung của sụ kienj*/
    background:rgba(255, 255, 255, 0.1);
    padding:20px;
    border-radius:15px;
    backdrop-filter:blur(10px);
    transition:0.3s;
    box-shadow:0 5px 15px rgba(0,0,0,0.3);
}

.card:hover{
    transform:translateY(-10px);/* hiệu ứng nhất bổng lên khi chạm*/
}
.card h2{/*màu chủ đề trong khung*/
    margin-bottom:20px;
    text-shadow: 
        0 0 10px #00d4ff,
        0 0 20px #00d4ff,
        0 0 40px #00d4ff;
        z-index: 1000;
}

.card p{
    margin:10px 0;
}

button{/* nút xem chi tiết*/
    margin-top:20px;
    padding:10px 20px;
    border:none;
    border-radius:20px;
    background:#00b4d8;
    color:rgb(241, 240, 240);
    cursor:pointer;
}

button:hover{
    background:#3205f9;/* màu khi nhấn voo*/
}

.modal{
    display:none;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(73, 34, 136, 0.552);/* màu khi nhấn xem nội dung xem thêm*/
}

.modal-content{/* nội dung phần xem thêm khi nhấn */

    background:rgb(98, 134, 143);
    color:rgba(0, 0, 0, 0.989);
    width:400px;
    padding:25px;
    border-radius:15px;

    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    text-align: justify;
}

/* phần quyeen lơi===================================================*/
/* Tiêu đề */
.benefits-title{/* chưu tieu đề*/
    text-align: center;
    color: rgba(255, 255, 255, 0.953);
    text-shadow: 
        0 0 10px #00d4ff,
        0 0 20px #00d4ff,
        0 0 40px #00d4ff;
        z-index: 1000;
    font-size: 48px;
    margin-top: 80px;
    margin-bottom: 40px;
}

/* màu khung và bo góc Thanh lọc */
.filter-box{
    width: fit-content;

    margin: 0 auto 50px;
 /* Đây là lệnh chính quyết định: Ép tất cả các ô con bên trong phải xếp thành hàng ngang */
    display: flex;/* Kích hoạt Flexbox để xếp ô tìm kiếm và các nút nằm ngang */
    align-items: center;
    justify-content: center;
    gap: 15px;

    padding: 20px 30px;

    background: rgba(255, 255, 255, 0); /* khung tìm kiếm*/
    backdrop-filter: blur(15px);

    border-radius: 60px;

    border: 1px solid rgba(0, 0, 0, 0);

    box-shadow: 0 0 20px rgba(0,255,255,.2);

    z-index: 100;
}

/* Input và select hiệu ứng khung này kia của 3 cái lọc nhỏ*/
.filter-box input,
.filter-box select{
    width: 200px;
    height: 45px;

    padding: 0 15px;

    border: none;
    border-radius: 30px;

    font-size: 16px;
}

/* Nút reset */
#resetBtn{
    height: 45px;
    padding: 0 25px;

    border: none;
    border-radius: 30px;

    background: #1900ff;
    color: white;

    font-weight: bold;
    cursor: pointer;
}

/* Khu vực chứa sự kiện */
.benefits-section{
    padding: 40px;
}
/* Khu vực hiển thị kết quả JS khi tương tác lọc */

#eventList{
    width: 100%;

    display: grid;
 /* Tự động tính số cột dựa trên màn hình: mỗi cột cố định độ rộng chính xác là 350px và tự động lấp đầy hàng ngang */
    grid-template-columns:
    repeat(auto-fit, minmax(350px, 350px));

    justify-content: center;/* đẩy ngang heetsa*/

    gap: 16px;/* khoảng cách các khung*/

    margin-top: 40px;
}

/* Card sự kiện */

.event-card{/* tại do dùng hình chèn vô nên khỏi dùng cũng đc */
    background: rgba(0, 0, 0, 0);

    backdrop-filter: blur(15px);

    border-radius: 20px;

    padding: 25px;

    color: rgb(255, 255, 255);

    min-height: 220px;

    transition: .3s;

    border: 1px solid rgba(255, 255, 255, 0);
}

.event-card:hover{
    transform: translateY(-5px);/* Hiệu ứng khi rê chuột: Nhấc nhẹ thẻ card lên trên 5px */
 /* Tạo một vòng hào quang (đổ bóng phát sáng) màu xanh neon rộng 20px xung quanh thẻ card */
    box-shadow:
    0 0 20px rgba(255, 255, 255, 0.834);
}

.event-card h3{/* màu chữ trong khung của tiêu đè*/
    color: #1b0766;
    margin-bottom: 15px;
    font-size: 24px;
    text-shadow:
    -1px -1px 0 #f3fdff,
     1px -1px 0 #f6fdff,
    -1px  1px 0 #ffffff,
     1px  1px 0 #f2fdff;
}

.event-card p{
    margin: 10px 0;

    font-size: 17px;
}
/* này là cái cho màu khung điểm rèn luyê  n*/
.tag{
    display: inline-block;

    padding: 8px 15px;

    margin-top: 10px;
    margin-right: 8px;

    border-radius: 25px;

    background: #1fdcea;

    color: rgba(0, 0, 0, 0.968);

    font-size: 11px;
}

.empty{
    width: 100%;

    text-align: center;

    color: white;

    font-size: 28px;

    margin-top: 50px;
}
/*. Nó là thẻ tạo “card sự kiện”=================*/
.event-card{ /* đổi màu chữ trong khung*/
    height: 230px;

    border-radius: 20px;

    background-size: cover;
    background-position: center;

    position: relative;

    overflow: hidden;
    font-weight: bold; /* in đậm */
    color: rgb(12, 6, 6);
    text-shadow: 
        1px 1px 0 rgb(247, 249, 248),
        -1px -1px 0 rgb(0, 187, 229),
        1px -1px 0 rgb(242, 245, 245),
        -1px 1px 0 rgb(12, 227, 220);
    
}

.overlay{
    position: absolute;
    inset: 0;

    background: rgba(0, 0, 0, 0.41);

    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*phần Diễn giả ===================================================*/
.diengia-container{
    display:flex;
    justify-content:space-between;
    align-items:center;

    width:100%;
    height:100vh; /* căn giữa theo chiều cao màn hình */

    padding:0 80px;
}

.diengia{
    text-align:center;
}

.diengia img{
    width:650px;
    height:650px;
    object-fit:cover;/* Cắt gọn ảnh tự động để lấp đầy khung hình mà không làm biến dạng hay méo hình ảnh */
    border-radius:50%;/* Bo tròn tuyệt đối 4 góc biến khung ảnh vuông thành một hình tròn hoàn hảo */

    border:4px solid #00ffff;

    box-shadow:
        0 0 20px #00ffff,
        0 0 40px #00ffff,
        0 0 80px #00ffff;
/* Áp dụng cuộn phim "phatsang" chạy liên tục vô hạn trong 1 giây, tự động đổi chiều mượt mà (alternate) */
    animation:phatsang 1s infinite alternate;
}

.diengia h2{
    margin-top:15px;
    color:white;

    text-shadow:
        0 0 10px #00ffff,
        0 0 20px #00ffff,
        0 0 40px #00ffff;
}

@keyframes phatsang{
    from{
        box-shadow:0 0 20px #eef0f0;
    }
    to{
        box-shadow:
            0 0 40px #00ffff,
            0 0 80px #00ffff,
            0 0 120px #4d4f4f;
    }
}
/* giới thiệu chung về diễn giả */
.gioithieuchung p {
    max-width: 800px;        /* giới hạn chiều ngang */
    margin: 0 auto;          /* căn giữa */
    text-align: justify;     /* căn đều 2 bên */
    line-height: 1.8;        /* giãn dòng cho dễ đọc */
    font-size: 18px;
    color: white;
}
.gioithieuchung {
    padding: 100px 20px;
    background: #082c748b;
    text-align: center;
}

.gioithieuchung h2 {
    color: #efefef;
    font-size: 40px;

    text-shadow: 
        0 0 10px #00d4ff,
        0 0 20px #00d4ff,
        0 0 40px #00d4ff;
        z-index: 1000;
}
html {
    scroll-behavior: smooth;
}














/* phần đăng ký========================================================*/
/* BODY */
/* ================= VIDEO NỀN ================= */
#bg-video{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    object-fit:cover;
    z-index:-1;
}

/* ================= FORM WRAPPER ================= */
.event-form{
    min-height:90vh;/* độ cao khung đnagư ký*/
    display:flex;
    justify-content:center;
    align-items:center;
}

/* ================= RESET ================= */
.event-form *{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/* ================= CONTAINER ================= */
/* Bootstrap Component 1: container */
.event-form .container{
    max-width:500px;/* chiều rộng khung tất cả*/
}

/* ================= màu chữ tiêu đề ================= */
.event-form .title{
    text-align:center;
    color:white;
    margin-bottom:20px;
    font-size:26px;
    text-shadow:0 0 10px #00eaff;
}

/* ================= CARD ================= */
/* Bootstrap Component 2: card */
.event-form .card{/* viền khung*/
    background:rgba(31,24,24,.87);
    backdrop-filter:blur(10px);
    border-radius:15px;
    position:relative;
    color:white;
}

/* ===== VIỀN PHÁT SÁNG ===== */
.event-form .card::before{
    content:"";
    position:absolute;
    top:-2px;
    left:-2px;
    right:-2px;
    bottom:-2px;
    border-radius:15px;
    background:linear-gradient(
        45deg,
        #07cee0ec,
        #007bffaf,
        #00eaffb4
    );
    z-index:-1;
    filter:blur(8px);
}

/* ================= LABEL ================= */
.event-form label{
    font-weight:bold;
    display:block;
    margin-bottom:5px;
}

/* ================= INPUT khung trong khi h ================= */
/* Bootstrap Component 3: form-control */
.event-form .form-control{
    background:rgba(137, 10, 10, 0.3);
    color:#080606;
}

/* FOCUS */
.event-form .form-control:focus{
    border:1px solid #00eaff;
    box-shadow:0 0 8px #00eaff;
}

/* PLACEHOLDER */
.event-form ::placeholder{
    color:#3b2424;
}

/* ================= màu ERROR ================= */
.event-form .error{
    color:#850101;
    font-size:13px;
}

/* ================= SUCCESS ================= */
.event-form .success-message{
    display:none;
    color:white;
    font-weight:bold;
    margin-top:10px;
}

/* =================  màu BUTTON ================= */
/* Có dùng btn btn-info nhưng KHÔNG tính là Component */
.event-form .btn{
    border:none;
    border-radius:10px;
    background:linear-gradient(45deg,#0800ffbd,#007bff);
    color:#c7c7c7;
    transition:.3s;
}

/* phát sáng khi nhấnHOVER */
.event-form .btn:hover{
    transform:scale(1.05);
    box-shadow:0 0 15px #0ae0e7;
}

/* ====================================================
                BOOTSTRAP ĐANG SỬ DỤNG
====================================================

1. Bootstrap Grid
- row
- col-md-6

2. Bootstrap Component 1
- container

3. Bootstrap Component 2
- card

4. Bootstrap Component 3
- form-control

Các class hỗ trợ (Utility):
- mb-3
- mt-3
- w-100
- btn
- btn-info

==================================================== */

/* ================= RESPONSIVE ================= */
@media(max-width:600px){
    .event-form .container{
        padding:0 10px;
    }
}